<h4>Agriculture and Food Technologies</h4>
<h5>Outcomes</h5>
<p>A student:</p><ul>
<li>› designs, evaluates and communicates innovative ideas and creative solutions to authentic problems or opportunities TE4-1DP</li>
<li>› plans, manages and evaluates the production of designed solutions TE4-2DP</li>
<li>› selects and safely applies a broad range of tools, materials and processes in the development of quality projects TE4-3DP</li>
<li>› explains how food and fibre are produced in managed environments TE4-5AG</li>
<li>› examines how the characteristics and properties of food determine preparation techniques for healthy eating TE4-6FO</li>
<li>› examines how people in technology related professions contribute to the sustainable and ethical use of technology in the economy, environment and society TE4-10TS</li>
</ul>
Related Life Skills outcomes: TELS-1DP, TELS-2DP, TELS-3DP, TELS-4DP, TELS-6AG, TELS-7FO, TELS-11TS
