<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        Built using <a href="http://bulma.io/" >Bulma</a> by <a href="http://github.com/abazilla">Patrick Abadilla</a>.
        Templates used from <a href="https://dansup.github.io/bulma-templates/">dansup</a>
      </p>
    </div>
  </div>
</footer>
