<h4>Digital Technologies</h4>
<h5>Outcomes</h5>
<p>A student:</p>
<ul>
<li>designs, evaluates and communicates innovative ideas and creative solutions to authentic problems or opportunities <b>TE4-1DP</b></li >
<li>plans, manages and evaluates the production of designed solutions <b>TE4-2DP</b></li >
<li>designs algorithms and implements them in an appropriate programming language <b>TE4-4DP</b></li >
<li>explains how data is stored, processed, and transmitted within and across digital systems <b>TE4-7DI</b></li >
<li> examines how people in technology related professions contribute to the sustainable and ethical use of technology in the economy, environment and society <b>TE4-10TS</b></li>
</ul>
Related Life Skills outcomes: <b>TELS-1DP, TELS-2DP, TELS-3DP, TELS-5DP, TELS-8DI, TELS-11TS</b>

<h5>Context Focus</h5>
<p>The Digital Technologies context focuses on providing students with the skills to become confident
developers of digital solutions. Students learn how data is transmitted between components within a
system, and how hardware and software interact to form networks and automate solutions. They
develop an understanding of how data is represented and structured symbolically for use by digital
systems. Students develop skills in computational thinking and abstraction to design and implement
algorithms.</p>
<p>Digital Technologies context must be delivered for a minimum of 50 indicative hours by the end of
Stage 4.</p>
