<section class="hero is-info is-bold is-large hero-image">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= image_tag("http://i.imgur.com/mW6Zq3Y.png") %>
      </h1>
      <h2 class="title">
        A community for teaching and sharing
      </h2>
    </div>
  </div>
</section>

<body>
  <section class="section is-medium">
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-9">
          <div class="heading">
            <h1 class="title">About</h1>
            <h2 class="subtitle">
              Members from around Australia are coming together on this platform to share, collaborate, and connect in order to make the best teaching and learning materials universally accessible and useful.
              <br>
              <br>
              OpenEducation's mission is to eliminate the Education Divide – the gap between those who have access to high-quality education and those who do not. It’s online community of educators work together to build and share quality materials that benefit teachers, schools and students.
            </h2>
          </div>
        </div>
        <div class="column has-text-centered">
          <br>
          <br>
          <i class="fa fa-graduation-cap fa-5x" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </section>
</body>
<section class="hero is-medium is-bold is-info">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-3">
          <i class="fa fa-retweet fa-5x" aria-hidden="true"></i>
        </div>
        <div class="column is-9">
      <h1 class="title">
        Our Approach
      </h1>
      <h2 class="subtitle">
        OpenEducation works through teachers by supporting them with the tools they need to be maximally effective.

        Our innovative delivery model combines the power of great, free resources and technology to make a difference in student achievement at scale.

        Our approach to building the largest global community library of OER is pretty simple.. share!</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section is-medium">
  <div class="container">
    <div class="heading">
      <h1 class="title">Partnerships and Sponsors</h1>
      <h2 class="subtitle">
        OpenEducation has created special relationships with organizations that share similar goals and fill the gaps for inspired learning everywhere by making world-class materials freely available to educators around the world. We place a high priority on working with partners to extend reach and increase the use and accessibility of high quality, standards aligned digital learning resources. In turn, our partners benefit from their affiliation with OpenEducation—the leading K-12 community of educators.
      </h2>
    </div>
  </div>
</section>
</body>
