<section class="hero is-info is-bold is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= image_tag("http://i.imgur.com/mW6Zq3Y.png") %>
      </h1>
      <h2 class="title">
        A community for teaching
      </h2>
    </div>
  </div>
</section>

<body>
  <section class="section is-medium">
    <div class="container">
      <div class="heading">
        <h1 class="title">Section</h1>
        <h2 class="subtitle">
          Members from every country around the world are coming together on this platform to share, collaborate, and connect in order to make the best teaching and learning materials universally accessible and useful.
          <br>
          <br>
          OpenEducation's mission is to eliminate the Education Divide – the gap between those who have access to high-quality education and those who do not. It’s online community of educators work together to build and share quality materials that benefit teachers, parents and students.
        </h2>
      </div>
    </div>
  </section>
</body>
<section class="hero is-medium is-bold is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Primary bold title
      </h1>
      <h2 class="subtitle">
        Primary bold subtitle
      </h2>
    </div>
  </div>
</section>
  <section class="section is-medium">
    <div class="container">
      <div class="heading">
        <h1 class="title">Section</h1>
        <h2 class="subtitle">
          A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
        </h2>
      </div>
    </div>
  </section>
</body>
